
body{background-color: #f3f1ff;
     margin: 0;padding: 0;}

 
     /*header start  */

  nav{width: 100%;
    background-color:blue;}

     article{display: flex;justify-content: space-between;
        padding: 10px;
        padding-top: 47px;
        font-family: 'Roboto', sans-serif;
        padding-left: 150px;
        box-sizing: border-box;
        margin-bottom: 120px;}
    
     .nav-main a{color:whitesmoke;padding: 10px;
                 font-size: 20px;
                  text-decoration: none;
                 }       
           
     .login{padding-right: 100px;}   
     .login input{padding: 5px 10px;
                  padding-right: 19px;
                  background-color: cadetblue;
                  color: white;
                  font-weight: bolder; 
                  cursor: no-drop;
                  font-size: 19px;}   
                  
    .headline{font-family: 'Lato', sans-serif;
               display: flex;
               justify-content: space-between;
               padding-left: 150px;
               padding-right: 180px;}  
    .headline-title h1{color: aliceblue;
                       font-size: 56px;}  
                       
    .headline-img img{width: 480px;
                   height: 300px;
                   border-radius: 15px;
                   border: 2px solid rgb(72, 253, 26);}                    