
body{background-color: #f3f1ff;
     margin: 0;padding: 0;}

 

     /*header start  */

  nav{width: 100%;
    background-color:blue;}

     article{display: flex;justify-content: space-between;
        padding: 10px;
        padding-top: 47px;
        font-family: 'Roboto', sans-serif;
        padding-left: 150px;
        box-sizing: border-box;
        margin-bottom: 120px;}
    
     .nav-main a{color:whitesmoke;padding: 10px;
                 font-size: 20px;
                  text-decoration: none;
                 }       
           
     .login{padding-right: 100px;}   
     .login input{padding: 5px 10px;
                  padding-right: 19px;
                  background-color: cadetblue;
                  color: white;
                  font-weight: bolder; 
                  cursor: no-drop;
                  font-size: 19px;}   
                  
    .headline{font-family: 'Lato', sans-serif;
               display: flex;
               justify-content: space-between;
               padding-left: 150px;
               padding-right: 100px;}  
    .headline-title h1{color: aliceblue;
                       font-size: 56px;}  
                       
    .headline-img img{width: 400px;
                   height: 400px;
                   border-radius: 15px;
                   border: 2px solid rgb(72, 253, 26);
                   position: relative;
                   left:150px;
                   top: 50px;
                 }  

    /* animasion/trnsform */
    .headline-img:hover img{  transition: transform 1s ease-in-out;
        transform: rotate(60deg);}     
    
    .headline-img:hover .boll{transform: translate(-295px,-40px);
                               transition: transform .8s ease-out .3s; }    
                               
    .headline-img:hover .four{display: inline;} 
 /* animation/transform */


    .boll-ani{width: 50px;
              height: 50px;
              border-radius: 30px;
              border: 2px dotted maroon;
              background-color: mediumspringgreen;
              animation-name: boll-animation;
              animation-timing-function: linear;
              animation-duration: 2s;
              animation-iteration-count: infinite;}

     @keyframes boll-animation{
              10%{transform: translate(110px,-10px);position: relative; buttom:300px;}
     }         
    
    .boll{width: 40px;
          height: 40px;
          border-radius: 30px;
          background-image: linear-gradient(black,navy,orange);
          border: 2px rgb(143, 190, 12) solid;
          position: relative;
          left: 160px;
          bottom: 390px;}               
     
    .four{position: relative;
          bottom: 590px;
          right: 90px;
          font-size: 30px;
          color: #77fb0a;
          display: none;}
          
    .border{border: 2px red solid;
            border-radius: 40px;
            width: 550px;
            height: 450px; }               