
body{background-color: #f3f1ff;
     margin: 0;padding: 0;}
       
 

     /*header start  */

  nav{width: 100%;
    background-color:blue;margin-bottom: 100px;}

     article{display: flex;justify-content: space-between;
        padding: 10px;
        padding-top: 47px;
        font-family: 'Roboto', sans-serif;
        padding-left: 150px;
        box-sizing: border-box;
        margin-bottom: 120px;}
    
     .nav-main a{color:whitesmoke;padding: 10px;
                 font-size: 20px;
                  text-decoration: none;
                 }       
           
     .login{padding-right: 100px;}   
     .login input{padding: 5px 10px;
                  padding-right: 19px;
                  background-color: cadetblue;
                  color: white;
                  font-weight: bolder; 
                  cursor: no-drop;
                  font-size: 19px;} 
     .login:hover input{background-color: brown;border: 2px solid wheat;}                 
                  
    .headline{font-family: 'Lato', sans-serif;
               display: flex;
               justify-content: space-between;
               padding-left: 150px;
               padding-right: 100px;}  
    .headline-title h1{color: aliceblue;
                       font-size: 56px;}  

    button{background-color:brown;
           padding: 9px 14px;
           color: rgb(255, 255, 255);
           font-size: 17px;} 
    button:hover{background-color: rgb(37, 12, 12);border: 2px solid wheat;}                         
                       
    .headline-img img{width: 400px;
                   height: 400px;
                   border-radius: 15px;
                   border: 2px solid rgb(72, 253, 26);
                   position: relative;
                   left:150px;
                   top: 50px;
                 }  

    /* animasion/trnsform */
    .headline-img:hover img{  transition: transform 1s ease-in-out;
        transform: rotate(60deg);}     
    
    .headline-img:hover .boll{transform: translate(-315px,-40px);
                               transition: transform .8s ease-out .3s; }    

     .nav-main:hover{background-color: brown;padding: 10px;}  
     .nav-main a:hover {background-color: black;}                         
                               
    .headline-img:hover .four{display: inline;} 

    .player:hover{box-shadow: 3PX 3PX 4PX 17PX blue;}
 /* animation/transform */


    .boll-ani{width: 55px;
              height: 55px;
              border-radius: 30px;
              border: 6px double rgb(14, 199, 23);
              background-color: rgb(172, 184, 174);
              animation-name: boll-animation;
              animation-timing-function: linear;
              animation-duration: 3s;
              animation-iteration-count: infinite;
              position: relative;
              box-sizing: border-box; }

     @keyframes boll-animation {
              0%{bottom: 0;left: 0;}
              1%{right: 450px; background-color: rgb(113, 113, 163);border: rgb(40, 54, 47) 4px double;}
              10%{right: 450px; background-color: midnightblue;border: mintcream 4px double;}
              40%{ left: 500px;background-color: royalblue;}
              80%{right:550px;bottom: 0;left: 0;background-color: olive;;border: rgb(156, 228, 75) 5px dotted;transform:scale(1.2);}
              100%{transform: scale(1);}    } 
    
    .boll{width: 40px;
          height: 40px;
          border-radius: 30px;
          background-image: linear-gradient(black,navy,orange);
          border: 2px rgb(143, 190, 12) solid;
          position: relative;
          left: 160px;
          bottom: 390px;}               
     
    .four{position: relative;
          bottom: 590px;
          right: 90px;
          font-size: 20px;
          color: #77fb0a;
          display: none;}
          
    .border{border: 2px red solid;
            border-radius: 40px;
            width: 550px;
            height: 450px; }               


                               /* header end */
                               /* section-1 start */

   
    .section-1{background-color: #f3f1ff;
               }
    

    .section-1{display: grid;
              grid-template-columns: repeat(3,1fr);
              width: 1100px;
              margin: 0 auto;
              grid-gap: 30px;
              margin-bottom: 100px;}  
              
              
    .player{width: 290px;
            background-color: white;
            box-shadow: 1px 1px 1px 2px rgb(167, 105, 105);
            text-align: justify;height:476px;}  
      
      .nnn{text-decoration: none;color: whitesmoke;}      
     .live a{background-color:brown;
      padding: 9px 14px;
      color: rgb(255, 255, 255);
      font-size: 17px;}       
    .name h2{text-align: center;}        
            
    .c-img{margin: 0 auto;
       
           padding:13px 19px;
           padding-left: 13px;}  
           
     .c-img img{width: 235px;
                padding-left: 20px;
                margin: 0 auto;
                height: 220px;}      

                /*section-2 start  */
       .section-2{padding-right: 0px;width: 100%;
                  margin-bottom: 100px;}
       .high{display: grid;
             width: 100%;
             grid-template-columns: repeat(2,1fr);
             grid-column-gap: 100px;
             padding-left: 100px;
             box-sizing: border-box;
             } 
          
       .head-2 h1{font-family:monospace;
               font-size: 40px;
               }     
               
       .h-img img{width: 450px;
                  height: 350px;
                  border-radius: 20px;
                  }        


                  /* footer start */


       .main-footer{padding: 0;margin: 0;height: 340px;
                   background-color: rgb(63, 26, 26);}
       .logo{display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;}


      .f-img img{width: 220px;
                 height: 100px;
                border-radius: 30px;
                box-sizing: border-box;}            
            
       .f-cricket{padding-left: 50px;
                  box-sizing: border-box;
                  font-family:cursive;
                   font-size: 40px;
                   color:rgb(225, 225, 247);}    
                   
       .social{text-align: center;} 
       .social a:hover{background-color: black;color: #77fb0a;} 
       big{display: flex;justify-content: center;
              color: antiquewhite;}          

      /* mobile */

   @media screen and (max-width:688px) 
   {
      .article-1{display: flex;justify-content: center;}
     
      
         
      .nav-main a{font-size: 14px;width: 100px;
                  position: relative;right: 100px;}
           
      .headline{display:flex
                }  
     .headline-title h1{font-size: 20px;
                        position: relative;right: 140px;}

       .live button {position: relative;right: 140px;font-size: 12px;}  
      .border{height: 300px;width: 260px; position: relative;right: 100px;}
       .border img{ display: flex; width: 200px;height: 200px;
                  position: relative;
                   left: 60px;}

       .boll{position: relative
             ;left:-50px;bottom: 310px;}     
             
    .player{  margin-left: 130px;}
     .section-1{display: grid;
      width: 100%;
    
                margin: 0 auto;
               grid-template-columns: repeat(1,1fr);}

          .section-2{display: flex;margin-top:120px;}    
          .head-2{position: relative;right: 80px;}
          .head-2 h1{font-size: 17px;} 
          .h-img img{width: 250px;height: 350px;position: relative;right: 120px;}

   }   
            