
body{background-color: #f3f1ff;
     margin: 0;padding: 0;}

 

     /*header start  */

  nav{width: 100%;
    background-color:blue;}

     article{display: flex;justify-content: space-between;
        padding: 10px;
        padding-top: 47px;
        font-family: 'Roboto', sans-serif;
        padding-left: 150px;
        box-sizing: border-box;
        margin-bottom: 120px;}
    
     .nav-main a{color:whitesmoke;padding: 10px;
                 font-size: 20px;
                  text-decoration: none;
                 }       
           
     .login{padding-right: 100px;}   
     .login input{padding: 5px 10px;
                  padding-right: 19px;
                  background-color: cadetblue;
                  color: white;
                  font-weight: bolder; 
                  cursor: no-drop;
                  font-size: 19px;} 
     .login:hover input{background-color: brown;border: 2px solid wheat;}                 
                  
    .headline{font-family: 'Lato', sans-serif;
               display: flex;
               justify-content: space-between;
               padding-left: 150px;
               padding-right: 100px;}  
    .headline-title h1{color: aliceblue;
                       font-size: 56px;}  

    button{background-color:brown;
           padding: 9px 14px;
           color: rgb(255, 255, 255);
           font-size: 17px;} 
    button:hover{background-color: rgb(37, 12, 12);border: 2px solid wheat;}                         
                       
    .headline-img img{width: 400px;
                   height: 400px;
                   border-radius: 15px;
                   border: 2px solid rgb(72, 253, 26);
                   position: relative;
                   left:150px;
                   top: 50px;
                 }  

    /* animasion/trnsform */
    .headline-img:hover img{  transition: transform 1s ease-in-out;
        transform: rotate(60deg);}     
    
    .headline-img:hover .boll{transform: translate(-315px,-40px);
                               transition: transform 1s ease-out .3s; }    
                               
    .headline-img:hover .four{display: inline;} 
 /* animation/transform */


    .boll-ani{width: 55px;
              height: 55px;
              border-radius: 30px;
              border: 6px double rgb(14, 199, 23);
              background-color: rgb(172, 184, 174);
              animation-name: boll-animation;
              animation-timing-function: linear;
              animation-duration: 3s;
              animation-iteration-count: infinite;
              position: relative;
              box-sizing: border-box; }

     @keyframes boll-animation {
              0%{bottom: 0;left: 0;}
              1%{right: 450px; background-color: rgb(113, 113, 163);border: rgb(40, 54, 47) 4px double;}
              10%{right: 450px; background-color: midnightblue;border: mintcream 4px double;}
              40%{ left: 500px;background-color: royalblue;}
              80%{right:550px;bottom: 0;left: 0;background-color: olive;;border: rgb(156, 228, 75) 5px dotted;transform:scale(1.2);}
              100%{transform: scale(1);}    } 
    
    .boll{width: 40px;
          height: 40px;
          border-radius: 30px;
          background-image: linear-gradient(black,navy,orange);
          border: 2px rgb(143, 190, 12) solid;
          position: relative;
          left: 160px;
          bottom: 390px;}               
     
    .four{position: relative;
          bottom: 590px;
          right: 90px;
          font-size: 20px;
          color: #77fb0a;
          display: none;}
          
    .border{border: 2px red solid;
            border-radius: 40px;
            width: 550px;
            height: 450px; }               